body{
    background-image: linear-gradient( rgba(0,190,175, 0.4), rgba(0,190,175, 0.4)), url(../img/webimages/mountain.jpg);
    background-image: -moz-linear-gradient(rgba(0,190,175, 0.4), rgba(0,190,175, 0.4)), url(../img/webimages/mountain.jpg);
    background-image: -o-linear-gradient(rgba(0,190,175, 0.4), rgba(0,190,175, 0.4)), url(../img/webimages/mountain.jpg);
}
.park{
    margin-top: 12%;
}
.buttons{
        text-align: center;
}
.data{
    list-style-type: none;
    text-align: center;
        font-size: 24px;
}
.manenos{
    padding-top: 4%;
}
img{
    border-radius: 8px;
    padding-bottom: 2%;
}
.banana{
    padding-top: 19%;
}

#meruPark, #amboseliPark, #hellsGate, #kisituPark, #tsaoPark{
    display:none;
    }