body{
    background-image: linear-gradient( rgba(255, 153, 0, 0.2), rgba(255, 153, 0, 0.2)), url(../img/websiteimages/mountain.jpg);
    background-image: -moz-linear-gradient(rgba(255, 153, 0, 0.2), rgba(255, 153, 0, 0.2)), url(../img/websiteimages/mountain.jpg);
    background-image: -o-linear-gradient(rgba(255, 153, 0, 0.2), rgba(255, 153, 0, 0.2)), url(../img/websiteimages/mountain.jpg);
}
.park{
    margin-top: 12%;
}
.buttons{
        text-align: center;
}
.data{
    list-style-type: none;
    text-align: center;
        font-size: 24px;
}
.manenos{
    padding-top: 4%;
}
img{
    border-radius: 8px;
}